body {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/d/d1/Mount_Everest_as_seen_from_Drukair2_PLW_edit.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.lead {
    color: #fff;
}

.col-lg-12.text-center h1 {
    margin-bottom: 40px;
}

.card.border-secondary {
    margin-bottom: 20px;
}

.row h1 {
    color: #fff;
}

h4.card-title {
    color: rgb(25, 100, 240);
}

#divider-h3 {
    color: #fff;
}

.jumbotron {
    background-color: rgba(100, 100, 100, 0.4);
    color: #fff;
}

#comments-card {
    background-color: rgb(210, 210, 210);
    margin-bottom: 50px;
}

.delete-form {
    display: inline;
}

#map {
    margin: 20px 0;
    height: 400px;
    width: 100%;
}

@media only screen and (max-width: 767px) {
    body {
        background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/4f/Matterhorn_Riffelsee_2005-06-11.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    h1 {
        font-size: 30px;
    }
    
    h3 {
        font-size: 20px;
    }
    
    h4 {
        font-size: 16px;
    }
    
    p em {
        font-size: 14px;
    }
    
    .jumbotron {
        background-color: rgba(150, 150, 150, 0.8);
    }
}